body {
	margin: 0;
	padding: 0;
	background-color: #F5EFED;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	color: #0F0A0A;
}

em {
	font-weight: 700;
	font-style: normal;
}

label {
	font-size: 20px;
	font-weight: 700;
}

button {
	font-family: 'Raleway', sans-serif;
	background-color: #2292A4;
	border: none; 
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
}

button:hover, input[type="submit"]:hover {
	box-shadow: 0px 0px 5px #1F8596;
}

button:focus, input:focus, select:focus {
	outline: none;
	box-shadow: 0px 0px 5px #1F8596;
}

select {
	font-family: 'Raleway', sans-serif;
	border-radius: 5px;
	width: 50px;
	height: 25px;
	text-align: center;
	margin: 2px;
}

input[type="text"] {
	font-family: 'Raleway', sans-serif;
	border-radius: 5px;
	border: none;
	width: 150px;
	margin: 5px;
	padding: 10px;
	font-size: 14px;
}

ol {
	padding: 0;
}

.appname {
	padding: 5px;
	letter-spacing: 2px;
	font-weight: 700;
	text-align: center;
	font-size: 18px;
	background-color: #BDBF09;
	color: #F5EFED;
}

.appname > .title {
	display: inline-block;
	background-color: #0F0A0A;
	border: none; 
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
	width: auto;
}

.vhcenter {
	position: relative;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.timer {
	color: #F5EFED;
	width: 100%;
	height: 40vh;
	background-color: #D96C06;
	border-bottom: 75px #BDBF09 solid;
	font-weight: 900;
	text-align: center;
}

.timersubtitle {
	font-size: 30px;
}

.journeyselector {
	border-top: 50px #2292A4 solid;
	border-bottom: 50px #0F0A0A solid;
	padding: 30px;
}

.locationcontainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.locationinput {
	margin: 30px;
	text-align: center;
}

.clock {
	font-size: 75px;
}

.togglebutton {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 14px;
	border: none; 
	border-radius: 5px;
	padding: 10px;
}

.togglebutton.show {
	background-color: #9E8994;
}

.togglebutton.hide {
	background-color: #A2A7A5;
}

.getjourneysbutton {
	text-align: center;
}

.getjourneysbutton > input[type="submit"] {
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	font-size: 20px;
	background-color: #BDBF09;
	border: none; 
	border-radius: 5px;
	padding: 20px;
}

.locationoption {
	font-family: 'Raleway', sans-serif;
	background-color: #2292A4;
	border: none; 
	border-radius: 5px;
	padding: 10px;
	width: 75%;
	font-size: 14px;
	margin: 5px;
}

.locationoption.selected {
	background-color: #1C7887;
}

.journeylist {
	display: flex;
	flex-wrap: wrap;
}

.journey {
	margin: 30px;
	border-radius: 5px;
	padding: 10px;
	background-color: #A9D3D2;
	width: 100%;
	text-align: center;
}

.journey.selected > .selectjourney {
	background-color: #8A8B07;
}

.journeystep {
	list-style-position: inside;
	margin: 5px;
}

.selectjourney {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 14px;
	border: none; 
	border-radius: 5px;
	padding: 10px;
	background-color: #BDBF09;
}

.selectormessage {
	font-weight: 400;
	text-align: center;
	font-size: 48px;
}

.arrivaltimeset {
	text-align: center;
}